<nav class="navbar is-warning">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/logo.png">
    </a>
    <a role="button" class="navbar-burger burger" #burger aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div  class="navbar-menu " id="navMenu" >
    <div class="navbar-end">
        <a class="navbar-item"  routerLink="/">Lista przepisów</a>
        <a class="navbar-item" routerLink="/create">Nowy przepis</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
      </div>
    </div>
</nav>