<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-grid-pulse">
 <p style="font-size: 20px; color: white">Ładowanie...</p>
</ngx-spinner>
<section class="section  has-text-centered" *ngIf="initialized">
  <div class="section-heading head">
    <h3 class="title is-2">{{recipe.name}}</h3>
    <div class="content has-text-centered recipeDetails">
      <h5 class="subtitle is-5">Ocena:
        <i class="far fa-star" *ngIf="recipe.mark<1"></i>
        <i class="fas fa-star gold" *ngIf="recipe.mark>=1"></i>
        <i class="far fa-star" *ngIf="recipe.mark<2"></i>
        <i class="fas fa-star gold" *ngIf="recipe.mark>=2"></i>
        <i class="far fa-star" *ngIf="recipe.mark<3"></i>
        <i class="fas fa-star gold" *ngIf="recipe.mark>=3"></i>
        <i class="far fa-star" *ngIf="recipe.mark<4"></i>
        <i class="fas fa-star gold" *ngIf="recipe.mark>=4"></i>
        <i class="far fa-star" *ngIf="recipe.mark<5"></i>
        <i class="fas fa-star gold" *ngIf="recipe.mark>=5"></i>
      </h5>

      <h5 class="subtitle is-5">
        <i class="fas fa-heart red" *ngIf="recipe.favourite != 0"></i>
      </h5>
    </div>
  </div>

  <div class="columns is-desktop recipeEditColumns">
    <div class="column is-1"></div>
    <div class="column has-text-centered">
      <div class="card">
        <div class="field recipeImage">
          <div class="recipeNoImage" *ngIf="!recipe.image">
            <h1 class="subtitle is-1">Podgląd zdjcia</h1>
          </div>
          <div *ngIf="recipe.image" class="recipeImage">
            <img [src]="domSanitizer.bypassSecurityTrustUrl(recipe.image)" />
          </div>
        </div>
      </div>
      <div class="card">
        <h3 class="subtitle is-4">{{recipe.shortdesc}}</h3>
        <h3 class="subtitle is-3">{{recipe.longdesc}}</h3>
      </div>

    </div>
    <div class="column has-text-centered ">
      <div class="card">
        <h1 class="subtitle is-2">Składniki</h1>
        <div class="content is-large has-text-left">
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.amount}} ({{ingredient.unit}})
              {{ingredient.name}}</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <h1 class="subtitle is-2">Czynności</h1>
        <div class="content is-large has-text-left">
          <ol>
            <li *ngFor="let step of recipe.steps">{{step.description}}</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="column is-1"></div>
  </div>


  <div class="columns is-mobile is-centered">
    <div class="column ">
          <a class="button is-danger is-rounded is-large" (click)="deleteRecipe()">Skasuj przepis &nbsp; <i class="fas fa-edit"></i></a>
    </div>
    <div class="column has-text-centered ">
          <a class="button is-success is-rounded is-large" (click)="editRecipe()">Edytuj przepis &nbsp; <i class="fas fa-edit"></i></a>
        
    </div>

  </div>
</section>

<app-opinions></app-opinions>