
.gold{
    color:#e6c40d;;
}

.red{
    color:red;
}
.recipeDetails h5 {
    display: inline-block;
    padding-top: 18px;
    padding-right: 73px;
}

.recipe:hover{
    filter: brightness(85%);
}
.recipe{
    transition-duration: 500ms;
}

.detailsButton{
    z-index: 999;
}

.paralaxa{
    background-image:  url('/assets/kielisszki.png');
    background-size: 100vw;
    padding:20px;
}
.cta {
    margin-bottom: 0;
}

